{% extends "layout.html" %***REMOVED***
{% block content %***REMOVED***
<div class="container">

  <div class="text-center py-5 background-dataengineering-image">
    <h1 class="display-1 text-white">DATA ENGINEERING</h1>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">Data Engineering. <span class="text-body-secondary">Truck Logistics
          Data Pipeline.</span></h2>
      <p class="lead">This full ETL pipeline is part of a Capstone Project for the DATA TALKS - Data Engineering
        Zoomcamp.</p>
      <a href="https://github.com/dieegogutierrez/Data-Engineering-Capstone-Project" target="_blank"
        class="btn btn-outline-dark">GitHub Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-2 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/Data-Engineering-Capstone-Project" target="_blank">
          <img src="/static/assets/images/trucklogistics.png" alt="trucklogistics" class="img-portfolio">
        </a>
      </div>

      <div class="col-md-7 order-md-1">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Containerization</td>
              <td>Docker</td>
            </tr>
            <tr>
              <td>Infrastructure as Code</td>
              <td>Terraform</td>
            </tr>
            <tr>
              <td>Data Pipeline Orchestration</td>
              <td>Mage orchestrator</td>
            </tr>
            <tr>
              <td>Data Transformation</td>
              <td>DBT (Data Build Tool)</td>
            </tr>
            <tr>
              <td>Cloud Computing</td>
              <td>GCP (Google Cloud Platform)</td>
            </tr>
            <tr>
              <td>Data Lake</td>
              <td>Google Cloud Storage</td>
            </tr>
            <tr>
              <td>Data Warehousing</td>
              <td>Google BigQuery</td>
            </tr>
            <tr>
              <td>Data Visualization</td>
              <td>Looker Studio</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
{% endblock content %***REMOVED***