{% extends "layout.html" %***REMOVED***
{% block content %***REMOVED***
<div class="container">
  <div class="text-center py-5 background-dataanalysis-image">
    <h1 class="display-1">DATA ANALYSIS</h1>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">Data Analysis. <span class="text-body-secondary">Google Data
          Analytics
          Case Study - Bellabeat.</span></h2>
      <p class="lead">This analysis is part of a Capstone Project for the Google Data Analytics Certificate program
        (Bellabeat).</p>
      <a href="https://www.kaggle.com/code/dieegogutierrez/google-data-analytics-capstone-project-bellabeat"
        target="_blank" class="btn btn-outline-dark">Kaggle Notebook</a>   <a href="https://github.com/dieegogutierrez/Bellabeat" target="_blank"
        class="btn btn-outline-dark">GitHub Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-2 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/Bellabeat" target="_blank">
          <img src="/static/assets/images/bellabeat.png" alt="bellabeat" class="img-portfolio">
        </a>
      </div>

      <div class="col-md-7 order-md-1">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data Analysis</td>
              <td>Google Sheets, Google BigQuery</td>
            </tr>
            <tr>
              <td>Data Cleaning and Manipulation</td>
              <td>SQL</td>
            </tr>
            <tr>
              <td>Data Visualization</td>
              <td>Tableau</td>
            </tr>
            <tr>
              <td>Full Report</td>
              <td>Kaggle Notebook</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <hr class="featurette-divider">

  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">Data Analysis. <span class="text-body-secondary">Google Data
          Analytics
          Case Study - Cyclistic.</span></h2>
      <p class="lead">This analysis is part of a Capstone Project for the Google Data Analytics Certificate program
        (Cyclistic).</p>
      <a href="https://www.kaggle.com/code/dieegogutierrez/google-data-analytics-capstone-project-cyclistic"
        target="_blank" class="btn btn-outline-dark">Kaggle Notebook</a>   <a href="https://github.com/dieegogutierrez/Cyclistic" target="_blank"
        class="btn btn-outline-dark">GitHub Repository</a>
    </div>


    <div class="row">

      <div class="col-md-5 order-md-1 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/Cyclistic" target="_blank">
          <img src="/static/assets/images/cyclistic_bike_share.png" alt="cyclistic" class="img-portfolio">
        </a>
      </div>

      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data Analysis</td>
              <td>R</td>
            </tr>
            <tr>
              <td>Data Cleaning and Manipulation</td>
              <td>Tidyverse</td>
            </tr>
            <tr>
              <td>Data Visualization</td>
              <td>ggplot, ggmap</td>
            </tr>
            <tr>
              <td>Full Report</td>
              <td>Kaggle Notebook</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <hr class="featurette-divider">
  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">Web Scraping and Data Analysis. <span
          class="text-body-secondary">Space Data Analysis Project.</span></h2>
      <p class="lead">This repository contains code and data for scraping spaceflight data from nextspaceflight.com
        using
        Python, and visualizing the results using Matplotlib, Seaborn, and Plotly in a Google Colab notebook.</p>
      <a href="https://drive.google.com/file/d/16eplkx0g_rN0zg8FXKJZeVlT33dkcod6/view?usp=sharing" target="_blank"
        class="btn btn-outline-dark">Google Colaboratory Notebook</a>   <a href="https://github.com/dieegogutierrez/SpaceRaceAnalysis" target="_blank"
        class="btn btn-outline-dark">GitHub Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-2 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/SpaceRaceAnalysis" target="_blank">
          <img src="/static/assets/images/spaceanalysis.png" alt="spaceanalysis" class="img-portfolio">
        </a>
      </div>

      <div class="col-md-7 order-md-1">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Scrap data and save as csv file</td>
              <td>Beautiful Soup, Pandas</td>
            </tr>
            <tr>
              <td>Data manipulation, line and bar plots</td>
              <td>Numpy, Matplotlib</td>
            </tr>
            <tr>
              <td>Interactive plots, choropleth and sunburst</td>
              <td>Plotly</td>
            </tr>
            <tr>
              <td>Scatter plots and rolling average</td>
              <td>Seaborn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <hr class="featurette-divider">
  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">Data Analysis. <span class="text-body-secondary">Fatal Force: Police
          Shootings in the US.</span></h2>
      <p class="lead">This project aims to analyze this dataset along with additional datasets containing US census data
        on poverty rate, high school graduation rate, median household income, and racial demographics. This analysis
        will
        explore the relationships and insights that can be derived from these datasets using various data visualization
        libraries such as Matplotlib, Seaborn, and Plotly. .</p>
      <a href="https://drive.google.com/file/d/1pMEx_yY0XM0ClIJZkW_Ob-hCfp67sk-f/view?usp=sharing" target="_blank"
        class="btn btn-outline-dark">Google Colaboratory Notebook</a>    <a href="https://github.com/dieegogutierrez/FatalForce" target="_blank"
        class="btn btn-outline-dark">GitHub Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-1 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/FatalForce" target="_blank">
            <img src="/static/assets/images/fatalforceanalysis.png" alt="fatalforceanalysis" class="img-portfolio">
        </a>
    </div>

      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data cleaning and manipulation</td>
              <td>Pandas, Numpy</td>
            </tr>
            <tr>
              <td>Line and bar plots</td>
              <td>Matplotlib</td>
            </tr>
            <tr>
              <td>Interactive plots, grouped bar and pie charts</td>
              <td>Plotly</td>
            </tr>
            <tr>
              <td>Kernel density estimation and regression line</td>
              <td>Seaborn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock content %***REMOVED***