{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="text-center py-5 background-guiapplications-image">
    <h1 class="display-1 text-white">GUI APPLICATIONS</h1>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">GUI Desktop Application. <span class="text-body-secondary">Watermark
          App.</span></h2>
      <p class="lead">This app allows users to easily add watermarks to their JPG or PNG images. With a simple and
        intuitive interface, users can customize various watermark properties such as font style, color, size, opacity,
        and position before saving the watermarked image.</p>
      <a href="https://github.com/dieegogutierrez/WatermarkApp" target="_blank" class="btn btn-outline-dark">GitHub
        Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-2 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/WatermarkApp" target="_blank">
          <img src="/static/assets/images/watermarkapp.png" alt="watermarkapp" class="img-portfolio">
        </a>
      </div>

      <div class="col-md-7 order-md-1">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Custom font style, size, opacity and position</td>
              <td>Python</td>
            </tr>
            <tr>
              <td>Choose from different font colors</td>
              <td>Matplotlib</td>
            </tr>
            <tr>
              <td>Image handling, preview of your watermarked file</td>
              <td>Pillow</td>
            </tr>
            <tr>
              <td>Intuitive interface, save your watermarked file</td>
              <td>Tkinter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <hr class="featurette-divider">
  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">GUI Desktop Game. <span class="text-body-secondary">Breakout
          Game.</span></h2>
      <p class="lead">A classic Breakout game implemented in Python using the Turtle graphics library. Breakout is a
        simple yet addictive arcade game where you control a paddle to bounce a ball and break bricks.</p>
      <a href="https://github.com/dieegogutierrez/BreakOutGame" target="_blank" class="btn btn-outline-dark">GitHub
        Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-1 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/BreakOutGame" target="_blank">
          <img src="/static/assets/images/breakoutgame.png" alt="breakoutgame" class="img-portfolio">
        </a>
      </div>

      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Save/update high score</td>
              <td>Python</td>
            </tr>
            <tr>
              <td>Pause and restart</td>
              <td>Turtle</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock content %}