{% extends "layout.html" %***REMOVED***
{% block content %***REMOVED***

<div class="px-4 my-5 text-center">
    <img class="profile-image" src="/static/assets/images/diego.jpeg" alt="diego">
    <h1 class="display-5 fw-bold text-body-emphasis py-2">Diego Gutierrez</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hi, I am a self-taught Python Developer. My passion for coding stems from the gratification I experience when deciphering intricate puzzles, applying logical reasoning, and consistently expanding my knowledge base.</p>
    </div>
  </div>

{% endblock content %***REMOVED***