{% extends "layout.html" %***REMOVED***
{% block content %***REMOVED***

<div class="px-4 my-5 text-center">
    <img class="profile-image" src="/static/assets/images/diego.jpeg" alt="diego">
    <h1 class="display-5 fw-bold text-body-emphasis py-2">Diego Gutierrez</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hi, I'm a self-taught Python developer who has recently delved into the world of data analysis. I'm dedicated to enhancing my skills in data analysis using programming languages such as Python and R.</p>
    </div>
  </div>

{% endblock content %***REMOVED***