{% extends "layout.html" %***REMOVED***
{% block content %***REMOVED***
<div class="container">
  <div class="text-center py-5 background-webdevelopment-image">
    <h1 class="display-1 text-white">WEB DEVELOPMENT</h1>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette py-3">

    <div class="col-md-12 text-center mb-5">
      <h2 class="featurette-heading fw-normal lh-1">Portfolio Website. <span class="text-body-secondary">This very
          own.</span></h2>
      <p class="lead">Portfolio website built with Flask hosted on a virtual machine on Google Cloud Platform.</p>
      <a href="https://github.com/dieegogutierrez/Portfolio" target="_blank" class="btn btn-outline-dark">GitHub
        Repository</a>
    </div>
    <div class="row">

      <div class="col-md-5 order-md-1 featurette-image-container">
        <a href="https://github.com/dieegogutierrez/Portfolio" target="_blank">
          <div class="img-portfolio">
            <img src="/static/assets/images/portfoliowebsite.png" alt="portfoliowebsite" class="img-portfolio">
          </div>
        </a>
      </div>

      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Features</th>
              <th>Technologies</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Website development</td>
              <td>Flask, Python</td>
            </tr>
            <tr>
              <td>Front-end design and styling</td>
              <td>HTML, CSS, Bootstrap</td>
            </tr>
            <tr>
              <td>Contact form with email automation</td>
              <td>WTForms, Flask-Mail</td>
            </tr>
            <tr>
              <td>Deployment on virtual machine</td>
              <td>GCP (Google Cloud Platform)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette py-3">

      <div class="col-md-12 text-center mb-5">
        <h2 class="featurette-heading fw-normal lh-1">Cafe Website. <span class="text-body-secondary">London
            Work-Friendly Cafes Website.</span></h2>
        <p class="lead">This platform is designed to help you discover the best cafes in London, England, where you can
          comfortably work, relax, and enjoy a great cup of coffee.</p>
        <a href="https://dgutierrezengineer.com/cafewebsite" target="_blank" class="btn btn-outline-dark">Visit
          Website</a> <a href="https://github.com/dieegogutierrez/CafeWebsite" target="_blank"
          class="btn btn-outline-dark">GitHub Repository</a>
      </div>

      <div class="row">

        <div class="col-md-5 order-md-2 featurette-image-container">
          <a href="https://github.com/dieegogutierrez/CafeWebsite" target="_blank">
            <div class="img-portfolio">
              <img src="/static/assets/images/cafewebsite.png" alt="cafewebsite" class="img-portfolio">
            </div>
          </a>
        </div>

        <div class="col-md-7">
          <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Features</th>
                <th>Technologies</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>User authentication</td>
                <td>Flask-Login</td>
              </tr>
              <tr>
                <td>Password hashing</td>
                <td>Flask-Bcrypt</td>
              </tr>
              <tr>
                <td>Password recovery</td>
                <td>Flask-Mail</td>
              </tr>
              <tr>
                <td>"Remember me" functionality</td>
                <td>Flask-Login</td>
              </tr>
              <tr>
                <td>User-friendly interface for cafe listings</td>
                <td>HTML5, CSS3, Bootstrap 5</td>
              </tr>
              <tr>
                <td>Add and manage cafe listings</td>
                <td>SQLAlchemy, SQLite</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>

    </div>

    <hr class="featurette-divider">
    <div class="row featurette py-3">

      <div class="col-md-12 text-center mb-5">
        <h2 class="featurette-heading fw-normal lh-1">TODO List Web Application. <span class="text-body-secondary">See
            for yourself.</span></h2>
        <p class="lead">TodoFlask is a web application that allows users to efficiently manage their tasks with a
          variety of features including user authentication, password hashing for security, task prioritization through
          starring, task coloring, and filtering by time periods.</p>
        <a href="https://dgutierrezengineer.com/todowebapp" target="_blank" class="btn btn-outline-dark">Visit Website</a> <a
          href="https://github.com/dieegogutierrez/TODOList" target="_blank" class="btn btn-outline-dark">GitHub
          Repository</a>
      </div>
      <div class="row">

        <div class="col-md-5 order-md-1 featurette-image-container">
          <a href="https://github.com/dieegogutierrez/TODOList" target="_blank">
            <div class="img-portfolio">
              <img src="/static/assets/images/todowebsite.png" alt="todowebsite" class="img-portfolio">
            </div>
          </a>
        </div>

        <div class="col-md-7 order-md-2">
          <h3 class="featurette-heading fw-normal lh-1">Features and Technologies:</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Features</th>
                <th>Technologies</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>User authentication</td>
                <td>Flask-Login</td>
              </tr>
              <tr>
                <td>Password hashing and recovery</td>
                <td>Flask-Bcrypt, Flask-Mail</td>
              </tr>
              <tr>
                <td>Filtering tasks by period</td>
                <td>SQLAlchemy, SQLite</td>
              </tr>
              <tr>
                <td>"Remember me" functionality</td>
                <td>Flask-Login</td>
              </tr>
              <tr>
                <td>Task prioritization and coloring</td>
                <td>HTML5, CSS3, Bootstrap 5</td>
              </tr>
            </tbody>
          </table>          
        </div>
      </div>
    </div>
    {% endblock content %***REMOVED***